body{
    background-color: white;
    max-width: 100%;
    justify-self: center;
}

p,dd{
    text-align: justify;
}


aside{
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: lightgrey;
    line-height: 150%;

}
.logo {
    padding-top: 1em;
    width: 95%;
}
