body{
    background-color: aliceblue;
}

aside{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 15px;
    float: right;
    background-color: lightgrey;
    line-height: 150%;

}
